<nav class="sidebar">
  
  <div class="list-group">
      <div class="nested-first">
          <a class="list-group-item">
              <i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span>
            </a>
      </div>
     

      <div class="nested-menu">
    
            <a class="list-group-item">
                <span><i class="fa fa-plus"></i>&nbsp; Menu</span>
            </a>
            <div class="nested">
                  <ul class="submenu">
                     <li>
                        <a href="#">Submenu 1</a>
                     </li>
                      <li>
                        <a  href="#">Submenu 1</a>
                    </li>
                      <li>
                        <a  href="#">Submenu 1</a>
                    </li>
                  </ul>
            </div>
      </div>

  </div>

</nav>